@model TTB_Model.status

@{
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<h2>Add/Edit Status</h2>

@using (Html.BeginForm("AddEditStatus", "Admin"))
{
    <div class="container">
        <div class="col-md-8">
            <div class="form-group">
                <label for="name">Name</label>
                @Html.TextBoxFor(s => s.statusName, new { @class = "form-control" })
            </div>
            @Html.HiddenFor(s => s.statusID)
        </div>
        <div class="col-md-8">
            <input type="submit" class="btn btn-success btn-lg btnSaveEdit" value="Save" />
        </div>
    </div>
}
